.mainbody {
    background-color: rgb(68, 66, 66);
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    align-items: center;
    
  }
  
  h1, p {
    color: white;

  }

  h1{
  
    font-size: 30px;
  }
  h2{
    font-size:50px;
    color: white;
  }

  ul{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .card__main {
    height: 150px;
    width: 350px;
    margin: 25px;
    align-items: center;
    
  }
  .card{
  margin-bottom: 10px;
  margin-right: 10px;

  }
  .card__name{
    font-size: 25px;
    font-weight: bold;
  }
  
  .card__name span {
    font-size: 15px;
  }
  
  .card__total {
    font-size: 32px;
    font-weight: bold;
  
  }